---
sidebar_position: 3
title: How to Write a Test Report
---
export const Center = ({children}) => (
   <div
      style={{
         "textAlign": "center"
      }}>
      {children}
   </div>
)

export const TextColor = ({children, color}) => (
<span
style={{
      color: color,
    }}>
{children}
</span>
);

### Introduction
All test reports that are created and submitted for review, are graded in 3 sections.  Effort, creativity, and management. These 3 sections add up to a total of 30 points, and depending on these points you will receive a grade from A to F. Depending on your grade, you will be rewarded with Research Points, which can be used towards certain perks in the Scientific Department. Below you can find the Grading Rubric for test reports used by ScD Command members. <br />
[<TextColor color="#735cff">ScD Grading Rubric</TextColor>](https://docs.google.com/document/d/1GDR9Nk0FKHbGjHV0XYeT0Md7B0IcL7xMkHCETmVEQDs/edit)

### Writing the Report
To write a test report, you must first know how to conduct a test. Conducting a test can be difficult for certain individuals, and so a document has been created to help. <br />
[<TextColor color="#735cff">How to Conduct an Experiment</TextColor>](https://docs.google.com/document/d/13hYq9nYOR_L7o9Umzqncxyu75zN4luUVHiDtGZqgGSs/edit)<br />
Once you know how to conduct a test or experiment, you can then host a test and gather information. Once you finish a test, you need to write a report and submit it for review and grading. When your test is being graded, there are a few things the reviewer looks for,
- Ample amount of effort put into the report, your report should be a good length and should provide necessary information.
- Creativity, you should be creative when doing a test and writing the report. Keep in mind that reviewers read multiple tests, and can lose interest quickly. Be creative and provide an interesting report.
- Management, we look to see how well the report was written overall, and how well the test seemed to run. We also take into account Personnel numbers, do you have enough or too many CDs. Do you have too many spectators. Did you have enough or too many combative. <br />
To help our members understand what a report should look like, below are a few tests reports that provide a good example of what we like to see.

### [<TextColor color="#735cff">Example Log 01</TextColor>](https://docs.google.com/document/d/1y1OK8BisQCVYTO-AFV51YDW8exJR7B6D8TwqNcC0Ar4/edit)<br />
### [<TextColor color="#735cff">Example Log 02</TextColor>](https://docs.google.com/document/d/1x-ILNMB2EJEivn7xggBgEdBb_rhuFL9Y63GJxyRpurA/edit)<br />
### [<TextColor color="#735cff">Example Log 03</TextColor>](https://docs.google.com/document/d/10xy4VLpTTK6vcjl5Nw39vkZT6aUEdAT4XFNwbsBeDqE/edit)<br />
### [<TextColor color="#735cff">Example Log 04</TextColor>](https://docs.google.com/document/d/1APfCjHiiPlHsvqMzcQyFgeZ2yfuVFzPinYRF43j9q-8/edit)<br />
### [<TextColor color="#735cff">Example Log 05</TextColor>](https://docs.google.com/document/d/15Xs2UClzry5cbGfr4fvmpcZgUNKjIyG_Aj8oEpm4fXk/edit)<br />
